@model IEnumerable<WebProje.Models.Participant>
@{
    ViewBag.Title = "MyRaceList";
}

<h2 class="baslik">Gideceğim Etkinlikler</h2>

<table class="table">
    <tr>
        <th>
            Yarış
        </th>

        <th>
            İşlemler
        </th>
    </tr>
    @if (Model.Count()==0)
    {
        <tr>
            <td colspan="2">Görüntülenecek yarış yok</td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink(item.Race.RaceName, "Details", "Race", new { id = item.RaceId }, null)</td>
                <td>@Html.ActionLink("Vazgeç", "NotParticipate", "Race", new { id = item.Race.Id }, null)</td>

            </tr>
        }
    }
</table>
