@model IEnumerable<WebProje.Models.Race>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ValidationSummary()
<ul>
    @foreach (var item in Model)
    {
        <li>
            @Html.ActionLink(item.RaceName, "Detail", "Race", new { id=item.Id},null)
        </li>
    }
</ul>

